<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_63ed99db4f32ce85946adbf9c0faad9f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_63ed99db4f32ce85946adbf9c0faad9f" ></div>
        
</body>
<script>    
    
            var map_63ed99db4f32ce85946adbf9c0faad9f = L.map(
                "map_63ed99db4f32ce85946adbf9c0faad9f",
                {
                    center: [-34.59, -58.38],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: true,
                }
            );

            

        
    
            var tile_layer_eb97bae59f192c4e43c2410c11525de2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_63ed99db4f32ce85946adbf9c0faad9f);
        
    
            var marker_cluster_9ec79356f316a94ab60a9ec53c8906e7 = L.markerClusterGroup(
                {}
            );
            map_63ed99db4f32ce85946adbf9c0faad9f.addLayer(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var marker_5fbebfbb706306e5a26215704051c04d = L.marker(
                [-34.597373323212, -58.4848664787861],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_5efd210cdf8108654889f75e88573ce0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_5fbebfbb706306e5a26215704051c04d.setIcon(icon_5efd210cdf8108654889f75e88573ce0);
        
    
        var popup_03928f6b64fb1473eca61bf9ccc1421f = L.popup({"maxWidth": "100%"});

        
            
                var html_4ab09f9a466223f4629fe65f4de07aa9 = $(`<div id="html_4ab09f9a466223f4629fe65f4de07aa9" style="width: 100.0%; height: 100.0%;">MELINCUE 2449</div>`)[0];
                popup_03928f6b64fb1473eca61bf9ccc1421f.setContent(html_4ab09f9a466223f4629fe65f4de07aa9);
            
        

        marker_5fbebfbb706306e5a26215704051c04d.bindPopup(popup_03928f6b64fb1473eca61bf9ccc1421f)
        ;

        
    
    
            var marker_bf6a0255be50834392aad9cf644acc5f = L.marker(
                [-34.5964455565025, -58.4970192494189],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_223fbce8c0c3ae5acbd533c23d4f93a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_bf6a0255be50834392aad9cf644acc5f.setIcon(icon_223fbce8c0c3ae5acbd533c23d4f93a3);
        
    
        var popup_ea6ae2c0c5dae7259cb6152033595d69 = L.popup({"maxWidth": "100%"});

        
            
                var html_506045da58a18d5bf6b9d19841d54ddb = $(`<div id="html_506045da58a18d5bf6b9d19841d54ddb" style="width: 100.0%; height: 100.0%;">HELGUERA 3521</div>`)[0];
                popup_ea6ae2c0c5dae7259cb6152033595d69.setContent(html_506045da58a18d5bf6b9d19841d54ddb);
            
        

        marker_bf6a0255be50834392aad9cf644acc5f.bindPopup(popup_ea6ae2c0c5dae7259cb6152033595d69)
        ;

        
    
    
            var marker_9b6077dd572f092133b8014707970ef6 = L.marker(
                [-34.594826130255, -58.5014255193765],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_63c88a78289c028a7035cbdd428aff42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_9b6077dd572f092133b8014707970ef6.setIcon(icon_63c88a78289c028a7035cbdd428aff42);
        
    
        var popup_ceca8479e58f7ef7e7461a254d4bc684 = L.popup({"maxWidth": "100%"});

        
            
                var html_1bd64fa745d59185ce43a77ea299fbdd = $(`<div id="html_1bd64fa745d59185ce43a77ea299fbdd" style="width: 100.0%; height: 100.0%;">ASUNCION 3239</div>`)[0];
                popup_ceca8479e58f7ef7e7461a254d4bc684.setContent(html_1bd64fa745d59185ce43a77ea299fbdd);
            
        

        marker_9b6077dd572f092133b8014707970ef6.bindPopup(popup_ceca8479e58f7ef7e7461a254d4bc684)
        ;

        
    
    
            var marker_54fc6eac8e703aff8c93f508a69ef4dd = L.marker(
                [-34.5970124902727, -58.4885353895623],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_405ea7991d2d5f75fc631995238918fa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_54fc6eac8e703aff8c93f508a69ef4dd.setIcon(icon_405ea7991d2d5f75fc631995238918fa);
        
    
        var popup_83f7baf2645ed82de41f6a8143b44c48 = L.popup({"maxWidth": "100%"});

        
            
                var html_5351214c9ff39a2f04d8dc86c555e484 = $(`<div id="html_5351214c9ff39a2f04d8dc86c555e484" style="width: 100.0%; height: 100.0%;">VENECIA 3124</div>`)[0];
                popup_83f7baf2645ed82de41f6a8143b44c48.setContent(html_5351214c9ff39a2f04d8dc86c555e484);
            
        

        marker_54fc6eac8e703aff8c93f508a69ef4dd.bindPopup(popup_83f7baf2645ed82de41f6a8143b44c48)
        ;

        
    
    
            var marker_3b5702d9c76e3de05eddd142d89cb54e = L.marker(
                [-34.5953574464112, -58.500181736129],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_1b1f318c3de7236895676216bde71f59 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_3b5702d9c76e3de05eddd142d89cb54e.setIcon(icon_1b1f318c3de7236895676216bde71f59);
        
    
        var popup_f1993afd9fc5e84740c51f5789fa1951 = L.popup({"maxWidth": "100%"});

        
            
                var html_50703adb4573afe3c9376ab3ca6c541d = $(`<div id="html_50703adb4573afe3c9376ab3ca6c541d" style="width: 100.0%; height: 100.0%;">CUENCA 3790</div>`)[0];
                popup_f1993afd9fc5e84740c51f5789fa1951.setContent(html_50703adb4573afe3c9376ab3ca6c541d);
            
        

        marker_3b5702d9c76e3de05eddd142d89cb54e.bindPopup(popup_f1993afd9fc5e84740c51f5789fa1951)
        ;

        
    
    
            var marker_db7f11f3567fdf276d7bc3c6528ae186 = L.marker(
                [-34.5957452349152, -58.4991910740338],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_6e090b2245b21806a553b5e41328adeb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_db7f11f3567fdf276d7bc3c6528ae186.setIcon(icon_6e090b2245b21806a553b5e41328adeb);
        
    
        var popup_5e7878ab3119d06f7a4175637b03a843 = L.popup({"maxWidth": "100%"});

        
            
                var html_f648ccf8923414114e44d7d926405873 = $(`<div id="html_f648ccf8923414114e44d7d926405873" style="width: 100.0%; height: 100.0%;">SOLANO LOPEZ, F., MARISCAL 3184</div>`)[0];
                popup_5e7878ab3119d06f7a4175637b03a843.setContent(html_f648ccf8923414114e44d7d926405873);
            
        

        marker_db7f11f3567fdf276d7bc3c6528ae186.bindPopup(popup_5e7878ab3119d06f7a4175637b03a843)
        ;

        
    
    
            var marker_04306ece3e2b8734bbf7f9394a7fa471 = L.marker(
                [-34.5973076373343, -58.4865098917426],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_1b7ee189a18b7e58f20de73eafe4cccc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_04306ece3e2b8734bbf7f9394a7fa471.setIcon(icon_1b7ee189a18b7e58f20de73eafe4cccc);
        
    
        var popup_cdf667bda277cfba0332f9f9bc4c7146 = L.popup({"maxWidth": "100%"});

        
            
                var html_0e471fb28ff94f20c6a621c72b5f0821 = $(`<div id="html_0e471fb28ff94f20c6a621c72b5f0821" style="width: 100.0%; height: 100.0%;">ARTIGAS, JOSE GERVASIO, GRAL. 3156</div>`)[0];
                popup_cdf667bda277cfba0332f9f9bc4c7146.setContent(html_0e471fb28ff94f20c6a621c72b5f0821);
            
        

        marker_04306ece3e2b8734bbf7f9394a7fa471.bindPopup(popup_cdf667bda277cfba0332f9f9bc4c7146)
        ;

        
    
    
            var marker_4d0f5722b755005195647cc60ae3cecf = L.marker(
                [-34.5961955295159, -58.4981850743307],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_30be5c377cca9d2af8b98a3edd05b12b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_4d0f5722b755005195647cc60ae3cecf.setIcon(icon_30be5c377cca9d2af8b98a3edd05b12b);
        
    
        var popup_89da1bacaa83b093fd2e2f197962a1b3 = L.popup({"maxWidth": "100%"});

        
            
                var html_08d4c01d5953fda4407a15294679b38d = $(`<div id="html_08d4c01d5953fda4407a15294679b38d" style="width: 100.0%; height: 100.0%;">NAVARRO 3145</div>`)[0];
                popup_89da1bacaa83b093fd2e2f197962a1b3.setContent(html_08d4c01d5953fda4407a15294679b38d);
            
        

        marker_4d0f5722b755005195647cc60ae3cecf.bindPopup(popup_89da1bacaa83b093fd2e2f197962a1b3)
        ;

        
    
    
            var marker_1b17fe442185e792198fbdc425984083 = L.marker(
                [-34.5973716059484, -58.4834994300327],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_407f179be85802ba7bb5a71bf7d86f0b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_1b17fe442185e792198fbdc425984083.setIcon(icon_407f179be85802ba7bb5a71bf7d86f0b);
        
    
        var popup_0d4b3c58059adc12fe7ca853010bfa9f = L.popup({"maxWidth": "100%"});

        
            
                var html_833b2157a8031b5ff39636a236e55ddb = $(`<div id="html_833b2157a8031b5ff39636a236e55ddb" style="width: 100.0%; height: 100.0%;">ZAMUDIO 3112</div>`)[0];
                popup_0d4b3c58059adc12fe7ca853010bfa9f.setContent(html_833b2157a8031b5ff39636a236e55ddb);
            
        

        marker_1b17fe442185e792198fbdc425984083.bindPopup(popup_0d4b3c58059adc12fe7ca853010bfa9f)
        ;

        
    
    
            var marker_8028bf7a39788e0348223fa5ef3e038d = L.marker(
                [-34.5970044427736, -58.48969044440521],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_3f7db54d6b16de18985ed0c027a8a512 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_8028bf7a39788e0348223fa5ef3e038d.setIcon(icon_3f7db54d6b16de18985ed0c027a8a512);
        
    
        var popup_b903f841227a273b7aeeb41eef1fdedd = L.popup({"maxWidth": "100%"});

        
            
                var html_d78419d5203ac2893aafa41486e8d481 = $(`<div id="html_d78419d5203ac2893aafa41486e8d481" style="width: 100.0%; height: 100.0%;">TINOGASTA 2694</div>`)[0];
                popup_b903f841227a273b7aeeb41eef1fdedd.setContent(html_d78419d5203ac2893aafa41486e8d481);
            
        

        marker_8028bf7a39788e0348223fa5ef3e038d.bindPopup(popup_b903f841227a273b7aeeb41eef1fdedd)
        ;

        
    
    
            var marker_95e33c3ee9f45548b65c92312acdfdcf = L.marker(
                [-34.5955822940827, -58.499867406828],
                {}
            ).addTo(marker_cluster_9ec79356f316a94ab60a9ec53c8906e7);
        
    
            var icon_27d15109c2ed519f088375c7f0d1419a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "truck", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_95e33c3ee9f45548b65c92312acdfdcf.setIcon(icon_27d15109c2ed519f088375c7f0d1419a);
        
    
        var popup_bce43860c66323fe1830b0374de6d0bd = L.popup({"maxWidth": "100%"});

        
            
                var html_6f44678deff7d0db400a2c88ff132021 = $(`<div id="html_6f44678deff7d0db400a2c88ff132021" style="width: 100.0%; height: 100.0%;">CUENCA 3737</div>`)[0];
                popup_bce43860c66323fe1830b0374de6d0bd.setContent(html_6f44678deff7d0db400a2c88ff132021);
            
        

        marker_95e33c3ee9f45548b65c92312acdfdcf.bindPopup(popup_bce43860c66323fe1830b0374de6d0bd)
        ;

        
    
</script>